.pageNumCss{
    width: 45px !important;
    border: 1px solid #17A2B8;
    color: #17A2B8;
    text-align: center;
    font-weight: bold;
}

.info-border{
    border: 1px solid #17A2B8;
}

.btn-calendar{
    width: 100%;
    height: 100%;
    border: 1px black;
    background-color: transparent;
}

.btn-calendar:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}

.btn-calendar:focus{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}
.btn-calendar::shadow{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}

.bg-trans{
    background-color: rgba(255, 255, 255, 0.4)!important;
}